@import url("https: //fonts.googleapis.com/css2?family= Bad+Script & display =семья = лобстер исемья = Монтсеррат: вес @ 400; 700 & swap");
*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background-color: #FDFCEF; 
  max-width: 1900px;  
  overflow: hidden;
  justify-content: center;
  align-items:center;
}
.card1 {     
  max-width: 1110px;
  max-height: 577px;
  margin: 60px auto;  
}

.logo2{
  display: none;
}

.block{  
  margin-top: 80px;
  max-height:465px;  
  display: flex;  
}
.card-left1{
  width: 60%;
}

.card-left1 h2{
  margin-top: 30px;  
  font-size: 50px;
  line-height: 68px;  
}

.card-left1 p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.button1{ 
  margin-bottom: 0 auto; 
  display: inline-block;
  padding: 20px;
  width: 221px;
  height: 69px;
  background-color: #ff6861;
  border-radius:100px;
  text-decoration: none;
  font-weight: bold;
  color:#fff;
  text-align: center;
}

.card-right1 {
  width: 40%; 
  padding: 10% 0;   
  background-image: url(img/Frame\ 13\ \(1\).png);
  background-size: cover;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.card-right1 img{  
  width: 60%;
}

.button1:hover{
  background: linear-gradient(180deg, #FFF6DF 0%, #f5bab8 100%);  
  transform: scale(1.3,1.3);
  color: #ff6861;
  font-size: 20px;
  text-shadow: #0202fa 2px 2px 2px;  
}


/* ==============     card1 end   =============== */


.block2{ 
  max-width: 720px;
  height: 442px;  
  margin: 60px auto;  
}

.block2 h2{
  margin: 10px auto;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.text{
  display: flex;
  margin-top: 41px;
}

.bold{
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
}

.md{
  font-size: 18px;
}

.block2 img{   
  margin-right: 20px;
  width: 73px;
  height: 73px;
}

/* =============    block2 end   ============= */



.card2{  
  background: linear-gradient(180deg, #FFF6DF 0%, #FFDFDE 100%); 
  max-height:486px;
  max-width: 1110px;
  border-radius: 60px;
  display: flex;    
  margin: 60px auto;  
}

.card-left2{  
  width: 60%;
  margin-left: 120px;
}

.card-left2 h2{
  margin-top: 40px;
  font-size: 50px;
  line-height: 68px;
  font-weight: 700;  
}

.card-left2 p{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}

.button2{  
  margin-bottom: 100px;  
  display: inline-block;
  padding: 20px;
  width: 221px;
  height: 69px;
  background-color: #ff6861;
  border-radius:100px;
  text-decoration: none;
  font-weight: bold;
  color:#fff;
  text-align: center;  
}

.card-right2{ 
  width: 40%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.card-right2 img{  
  width: 60%;
}

.button2:hover{   
  background: linear-gradient(180deg, #FFF6DF 0%, #f17871 100%);  
  transform: scale(1.3,1.3);
  color: #ff6861;
  font-size: 20px;
  text-shadow: #0202fa 2px 2px 2px;  
}

/* ================  card2 end  =============== */



@media (max-width: 720px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
    display: flex;
    margin: 10px auto;
  }

  .card1 {   
    max-width: 720px;
    max-height: 919px;       
  } 

  .block{  
  max-width: 720px;
  max-height: 810px;
  flex-direction: column-reverse; 
  align-items: center;
  }

  .card2 {     
    max-width: 520px;
    max-height: 925px;
    display: flex;
    margin:10px auto;
    flex-direction: column-reverse;
    align-items: center; 
    
  }

  .card-right2{
    margin-top: 100px;
  }
  .card-left2{
    margin-bottom: 100px;
    margin-left: 20px;    
  } 

  .card2 img{
    width: 60%;
  }
}

@media (max-width: 360px) {
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .logo{
    display: none;
  }
  .logo2{
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
  

  .block2{
    max-height: 1000px;     
  }

  .text{
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .text img{
    margin: 40px;
  }
  
  .card2 img{
    margin: 20px auto;
    width: 100%;
  }

  .card-left2 h2{
    font-size: 40px;
    line-height: 40px;    
  }

}
